body{
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: aqua;
}
#game-container{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.game-choices{
    margin-bottom: 50px;
}
#outcomes div{
    margin-bottom:20px;
}
#scoreboard div{
    margin-bottom:20px;
}
img{
    max-height:100px;
    max-width: 100px;
}
.game-choices button{
    max-width: 100px;
    max-height: 100px;
}
.game-choices button img{
    max-width: 100px;
    max-height: 100px;
}
#context{
    margin-top:30px;
    display:flex;
    flex-direction: column;
    align-items: center;
}