body{
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: aqua;
    font-family: 'Work Sans';
}
#game-container{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.game-choices{
    margin-bottom: 50px;
}
#outcomes div{
    margin-bottom:20px;
    padding-right: 50px;
    font-size:150%;
}
#scoreboard div{
    margin-bottom:20px;
}

.game-choices button{
    font-size: 130%;
    margin:20px 20px;
    border-radius: 20px;
    background-color: orange;
    color: white;
}

#context{
    margin-top:30px;
    display:flex;
    flex-direction: column;
    align-items: center;
}
h1, h2{
    font-family:'Noto Sans'

}
#outcomes{
    display:flex;
    margin-bottom: 20px;
}
#scoreboard{
    display:flex;
}
#scoreboard div{
    margin:0 20px;
    font-size:120%;
}
#overall-winner{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#challenge-message{
    margin-bottom: 60px;
}