body{
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: aqua;
    font-family: 'Work Sans';
}
#game-container{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.game-choices{
    margin-bottom: 50px;
}
#outcomes div{
    margin-bottom:20px;
    padding:0 50px;
    font-size:150%;
}
#scoreboard div{
    margin-bottom:20px;
}

.game-choices button{
    font-size: 130%;
    margin:20px 20px;
    border-radius: 20px;
    background-color: orange;
    color: white;
}

#context{
    margin-top:30px;
    display:flex;
    flex-direction: column;
    align-items: center;
}
h1, h2{
    font-family:'Noto Sans';
    color:orange;
    text-shadow:
    -1px -1px 0 #000,  
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000; 
}
#outcomes{
    display:flex;
    margin-bottom: 20px;
    font-weight: bold;
    color:orange;
    text-shadow:
    -1px -1px 0 #000,  
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000; 
}
#scoreboard{
    display:flex;
}
#scoreboard div{
    margin:0 20px;
    font-size:130%;
    color:orange;
    text-shadow:
    -1px -1px 0 #000,  
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000; 
}
#overall-winner{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#challenge-message{
    margin-bottom: 60px;
    font-size: 120%;
    font-weight: bold;
    color:orange;
    text-shadow:
    -1px -1px 0 #000,  
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000; 
}
#overall-winner-text{
    background-color: orange;
    font-size: 150%;
    color:white;
    padding:0 20px;
}
#context-title{
    padding: 0 20px;
    text-align: center;
}
#restart-button{
    background-color: orange;
    color:white;
    border-radius: 20px;
    font-size: 115%;
}